[user]
	name = Miguel Sousa Filipe
	email = miguel.filipe@gmail.com

[alias]
ci = commit
co = checkout
st = status
di = diff 	  				
br = branch


[merge]
    tool = meld

[core]
    pager = less
	editor = vim

[color]
    diff = auto
    status = true
[gui]
	fontui = -family \"Liberation Sans\" -size 12 -weight bold -slant roman -underline 0 -overstrike 0

[push]
    default = tracking
