[user]
	name = Miguel Filipe
	email = miguel.filipe@gmail.com

[alias]
ci = commit
co = checkout
st = status
di = diff
br = branch
lg = log --graph --pretty=format:\"%Cred%h%Creset — %s %Cgreen(%cr)%Creset\" --abbrev-commit --date=relative
dt = diff-tree -p --color

[branch]
    autosetuprebase = always

[merge]
    ff = no
    tool = kdiff3

[pull]
    rebase = true

[core]
    pager = less -R

[color]
    diff = auto
    status = true
    diff-tree = true
    branch = auto

[gui]
	fontui = -family \"Liberation Sans\" -size 12 -weight bold -slant roman -underline 0 -overstrike 0

[push]
    default = tracking

[branch]
    autosetuprebase = always

[pull]
	rebase = true
