xterm*loginShell: true
xterm*background: black
xterm*foreground: grey
xterm*faceSize: 12
xterm*utf8: true
xterm*faceName: Inconsolata

URxvt*font: xft:Inconsolata:pixelsize=16
URxvt*scrollBar: false
URxvt.saveLines: 32767
URxvt*termName: rxvt
URxvt*background: #0f0f0f
URxvt*foreground: #f0f0f0

